pipelines:
  default:
    - step:
        image: debian:trixie
        name: lint
        trigger: automatic
        script:
          - apt-get update && apt-get install -y curl xz-utils
          - curl https://ziglang.org/download/0.15.2/zig-x86_64-linux-0.15.2.tar.xz -o zig-linux.tar.xz && tar xf zig-linux.tar.xz && mv zig-x86_64-linux-0.15.2/ /opt/zig
          - /opt/zig/zig fmt --check src/
    - step:
        image: debian:trixie
        name: test
        trigger: automatic
        deployment: Test
        services:
          - postgres
        script:
          - apt-get update && apt-get install -y curl xz-utils
          - curl https://ziglang.org/download/0.15.2/zig-x86_64-linux-0.15.2.tar.xz -o zig-linux.tar.xz && tar xf zig-linux.tar.xz && mv zig-x86_64-linux-0.15.2/ /opt/zig
          - /opt/zig/zig build test

definitions:
  services:
    postgres:
      image: postgres
      variables:
        POSTGRES_DB: 'loan'
        POSTGRES_USER: 'postgres'
        POSTGRES_PASSWORD: 'password'
